<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PracticaLibrosServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>es.studium.LoginServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HazAlgoPorMi</servlet-name>
    <servlet-class>es.studium.LoginServlet.HazAlgoPorMi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>es.studium.LoginServlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MuestraAutor</servlet-name>
    <servlet-class>es.studium.LoginServlet.MuestraAutor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MuestraLibro</servlet-name>
    <servlet-class>es.studium.LoginServlet.MuestraLibro</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MuestraEditorial</servlet-name>
    <servlet-class>es.studium.LoginServlet.MuestraEditorial</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MuestraPedido</servlet-name>
    <servlet-class>es.studium.LoginServlet.MuestraPedido</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertarLibro</servlet-name>
    <servlet-class>es.studium.LoginServlet.InsertarLibro</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificarLibro</servlet-name>
    <servlet-class>es.studium.LoginServlet.ModificarLibro</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificarPedido</servlet-name>
    <servlet-class>es.studium.LoginServlet.ModificarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HazAlgoPorMi</servlet-name>
    <url-pattern>/hazalgo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuestraAutor</servlet-name>
    <url-pattern>/muestraAutor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuestraLibro</servlet-name>
    <url-pattern>/muestraLibro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuestraEditorial</servlet-name>
    <url-pattern>/muestraEditorial</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuestraPedido</servlet-name>
    <url-pattern>/muestraPedido</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertarLibro</servlet-name>
    <url-pattern>/insertarLibro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificarLibro</servlet-name>
    <url-pattern>/modificarLibro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificarPedido</servlet-name>
    <url-pattern>/modificarPedido</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>